@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
  
.animate-marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
    padding-right: 50px;
}

@font-face {
    font-family: "Winky Rough";
    src: url("/fonts/WinkyRough.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    @apply font-outfit;
}
  
  
